:root {
  /*fonts*/
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  /* Text colors */
  --main-text-cl: #212121;
  --second-text-cl: #2196f3;
  --third-text-cl: #757575;
  --fourth-text-cl: #ffffff;
  /* backgrounds*/
  --accent-bg-cl: #ffffff;
  --second-bg-cl: #2f303a;
  --third-bg-cl: #2196f3;
  /*transition*/
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  font-weight: 500;
}

.link {
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.link:hover,
.link:focus {
  color: var(--second-text-cl);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page {
  font-family: var(--main-font);
  color: var(--main-text-cl);
  background-color: var(--accent-bg-cl);
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header__container {
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 93px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo__header {
  color: #000000;
}

.header__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.header__list__item {
  font-size: 14px;
  letter-spacing: 0.02em;
  margin-top: 9px;
}

.header__link {
  color: var(--third-text-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 32px 0;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.header__icon {
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.header__link:hover .header__icon {
  fill: var(--second-text-cl);
}

.header__link:focus .header__icon {
  fill: var(--second-text-cl);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  color: var(--main-text-cl);
}
.nav__link:hover::after {
  opacity: 1;
}

.nav__link.current {
  color: var(--second-text-cl);
}
.nav__link.current::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.current {
  color: var(--second-text-cl);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--second-bg-cl);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image/img-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image/img-hero.jpg);
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-size: cover;
}
.hero__title {
  color: var(--fourth-text-cl);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.btn__hero {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--fourth-text-cl);
  background: var(--third-bg-cl);
  font-family: var(--main-font);
  font-weight: 700;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.btn__hero:hover, .btn__hero:focus {
  background: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  width: 528px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--third-bg-cl);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.register-form-title {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.register-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--third-text-cl);
  margin-bottom: 4px;
}

.register-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  outline: transparent;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
.register-form-input:focus, .register-form-input:hover {
  border-color: var(--third-bg-cl);
}

.register-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.register-form-input:focus + .register-form-icon {
  fill: var(--third-bg-cl);
}

.register-form-input:hover + .register-form-icon {
  fill: var(--third-bg-cl);
}

.register-form-message {
  display: block;
  resize: none;
  outline: transparent;
  width: 100%;
  height: 138px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
.register-form-message:focus, .register-form-message:hover {
  border-color: var(--third-bg-cl);
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;
  fill: #2196f3;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.register-form-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-form-link {
  color: var(--second-text-cl);
}

.register-form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.register-form-btn:hover, .register-form-btn:focus {
  background-color: #188ce8;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__subtitle--text {
  color: var(--third-text-cl);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .features__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .features__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .features__box {
    width: 270px;
  }
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.subtitle {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.section-services {
  padding-top: 0;
}
.section-services .list-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.thumb {
  position: relative;
  width: 370px;
  height: 294px;
}
.thumb .label {
  width: 100%;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
}

.list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.list-item-team {
  background-color: var(--accent-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.title-card {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--third-text-cl);
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-position {
  padding-top: 10px;
  padding-bottom: 30px;
}

.list-socials-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: var(--accent-bg-cl);
  border-radius: 50%;
  -webkit-transition: fill var(--transition), background-color var(--transition);
  transition: fill var(--transition), background-color var(--transition);
}
.socials-link:hover, .socials-link:focus {
  color: var(--fourth-text-cl);
  background-color: var(--third-bg-cl);
}

.socials-icon {
  fill: currentColor;
}

.list-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients-item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border var(--transition), fill var(--transition);
  transition: border var(--transition), fill var(--transition);
}
.clients-link:hover, .clients-link:focus {
  fill: var(--third-bg-cl);
  border-color: var(--third-bg-cl);
}

.clients-icon {
  fill: #afb1b8;
}

address {
  margin-top: 20px;
}

.logo-footer {
  color: var(--fourth-text-cl);
}

.footer {
  background-color: var(--second-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.fact-address {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-text-cl);
}

.address {
  font-style: normal;
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.address:hover, .address:focus {
  color: var(--second-text-cl);
}

.list-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list-item-contact {
  color: var(--third-text-cl);
  font-size: 14px;
  letter-spacing: 0.02em;
  margin-top: 9px;
}

.footer.address:hover {
  color: var(--second-text-cl);
}

.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subtitle-footer {
  color: #ffffff;
  margin-bottom: 20px;
}

.box-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.box-footer-icon {
  margin-left: 70px;
}

.socials-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--accent-bg-cl);
  border-radius: 50%;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.socials-link-footer:hover, .socials-link-footer:focus {
  background-color: var(--third-bg-cl);
  color: var(--accent-bg-cl);
}

.footer-subscription {
  margin-left: auto;
}

.footer-subscription-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.footer-subscription-mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--second-bg-cl);
  border-radius: 4px;
  color: #FFFFFF;
}

.footer-subscription-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196F3;
  margin-left: 12px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.footer-subscription-btn:hover, .footer-subscription-btn:focus {
  background-color: #188ce8;
}

.sign-up {
  fill: #FFFFFF;
  margin-left: 10px;
}

.list-portfolio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.list-item-portfolio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-btn {
  cursor: pointer;
  padding: 6px 22px;
  display: block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--main-text-cl);
  background: #f5f4fa;
  border: none;
  -webkit-transition: color var(--transition), background-color var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition), border-radius var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition), border-radius var(--transition), -webkit-box-shadow var(--transition);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--fourth-text-cl);
  background-color: var(--third-bg-cl);
}

.title-works {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-text-cl);
}

.text-works {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-text-cl);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.box-card {
  position: relative;
  overflow: hidden;
}

.box-overlay {
  position: absolute;
  top: 0;
  height: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 101%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.list-item-set:hover .box-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-overlay {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.for-border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-link {
  display: block;
  -webkit-transition: color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition), color var(--transition);
  transition: box-shadow var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
}
.list-link:hover, .list-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: inherit;
}/*# sourceMappingURL=main.css.map */