// address {
//     margin-top: 20px;
//   }
  
//   .logo-footer {
//     color: var(--fourth-text-cl);
//   }
//   .footer {
//     background-color: var(--second-bg-cl);
//     padding-top: 60px;
//     padding-bottom: 60px;
//   }
//   .fact-address {
//     text-decoration-line: none;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--fourth-text-cl);
//   }
  
//   .address {
//     font-style: normal;
//     text-decoration: none;
//     text-decoration-line: none;
//     transition: color var(--transition);

//     &:hover,
//     &:focus {
//     color: var(--second-text-cl);
//   }
//   }

//   .list-address {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }
  
//   .list-item-contact {
//     color: var(--third-text-cl);
//     font-size: 14px;
//     letter-spacing: 0.02em;
//     margin-top: 9px;
//   }
  
  
//   .footer.address:hover {
//     color: var(--second-text-cl);
//   }
//   .contacts {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//   }
//   .subtitle-footer {
//     color: #ffffff;
//     margin-bottom: 20px;
//   }
//   .box-footer {
//     display: flex;
//     align-items: baseline;
//     justify-content: flex-start;
//   }
//   .box-footer-icon {
//     margin-left: 70px;
//   }
  
//   .socials-link-footer {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 44px;
//     height: 44px;
//     background: rgba(255, 255, 255, 0.1);
//     color: var(--accent-bg-cl);
//     border-radius: 50%;
//     transition: background-color var(--transition);

//     &:hover,
//     &:focus {
//     background-color: var(--third-bg-cl);
//     color: var(--accent-bg-cl);
//   }
//   }
  
//   .footer-subscription{
//       margin-left: auto;
      
//   }
  
//   .footer-subscription-box{
//     display: flex;
//     align-items: flex-end;
//       justify-content: flex-end;
//     margin-top: 20px;
//   }
  
//   .footer-subscription-mail{
//     box-sizing: border-box;
//   padding-left: 16px;
//   width: 358px;
//   height: 50px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   background-color: var(--second-bg-cl);
//   border-radius: 4px;
//   color: #FFFFFF;
//   }
  
//   .footer-subscription-btn{
//     display: flex;
//     align-items: center;
//       justify-content: center;
//     width: 200px;
//     height: 50px;
//     color: #FFFFFF;
//     font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   background: #2196F3;
//   margin-left: 12px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border:none;
//   cursor: pointer;
//   transition: background-color var(--transition);

//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//   }
//   }
  
//   .sign-up{
//     fill: #FFFFFF;
//     margin-left: 10px;
//   }