.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--second-bg-cl);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-image/img-hero.jpg);
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    background-size: cover;

    &__title {
      color: var(--fourth-text-cl);
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
  
  .btn__hero {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--fourth-text-cl);
    background: var(--third-bg-cl);
    font-family: var(--main-font);
    font-weight: 700;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition);

    &:hover,
    &:focus {
      background: #188ce8;
    }
  }
  
 