// .register-form-title{
//     display: block;
//     text-align: center;
//     font-size: 20px;
//     margin-bottom: 12px;
//   }
  
//   .register-form-group{
//     margin-bottom: 20px;
//   }
  
//   .register-form-field{
//     display: block;
//     margin-bottom: 10px;
//   position: relative;
//   }
  
//   .register-form-label{
//     display: block;
//     font-weight: 400;
//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;
//   color:var(--third-text-cl);
//   margin-bottom: 4px;
//   }
  
//   .register-form-input{
//   width: 100%;
//   height: 40px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   padding-left: 42px;
//   padding-right: 42px;
//   outline: transparent;
//   transition: border-color var(--transition);
//   &:focus,
//   &:hover{
//     border-color:var(--third-bg-cl);
//   }
//   }
  
//   .register-form-icon{
//   position: absolute;
//   bottom: 11px;
//   left: 12px;
//   transition: fill var(--transition);
//   }
  
//   .register-form-input:focus + .register-form-icon{
//     fill: var(--third-bg-cl);
//   }
//   .register-form-input:hover + .register-form-icon{
//     fill: var(--third-bg-cl);
//   }
  
//   .register-form-message{
//     display: block;
//     resize: none;
//     outline: transparent;
//     width: 100%;
//     height: 138px;
//   padding: 12px 16px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   transition: border-color var(--transition);
//   &:focus,
//   &:hover{
//     border-color:var(--third-bg-cl);
//   }
//   }
  
//   .register-form-agreement{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   gap: 7px;
//     margin-bottom: 30px;
//   }
  
//   .icon-checked{
//     opacity: 0;
//     fill: #2196f3;
//   transition: opacity var(--transition);
//   }
  
//   .register-form-checkbox:checked + .register-form-icons .icon-checked{
//     opacity: 1;
//   }
  
//   .icon-unchecked{
//   opacity: 1;
//   transition: opacity var(--transition);
//   }
  
//   .register-form-checkbox:checked + .register-form-icons .icon-unchecked{
//     opacity: 0;
//   }
  
//   .register-form-desc{
//     font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: #757575;
//   user-select:none;}
  
//   .register-form-link{
//   color: var(--second-text-cl);
//   }
  
//   .register-form-btn{
//     display: block;
//     margin: 0 auto;
//     width: 200px;
//   height: 50px;
//   letter-spacing: 0.06em;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   color: #FFFFFF;
//   background: #2196F3;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   cursor: pointer;
//   border: none;
//   transition: background-color var(--transition);
//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//   }
//   }
  
  