:root {
    /*fonts*/
    --main-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
  
    /* Text colors */
    --main-text-cl: #212121;
    --second-text-cl: #2196f3;
    --third-text-cl: #757575;
    --fourth-text-cl: #ffffff;
  
    /* backgrounds*/
    --accent-bg-cl: #ffffff;
    --second-bg-cl: #2f303a;
    --third-bg-cl: #2196f3;
  
    /*transition*/
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
